*{
    margin: 0;
    padding: 0;
    background: #edf2fc;
    scroll-behavior: smooth;
   
}

.base{
    height: 100vh;
    width: 100%;
    background: #edf2fc;
    font-family: sans-serif;
    position: relative;
}
nav{
    width: 90%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
   
}
.logoName{
    width: 100%;
    cursor: pointer;

}
nav ul li{
    display: inline;
    list-style: none;
    margin: 10px 25px;
    font-weight: 500;  
}

nav ul li a{
    text-decoration: none;
    color: #606163;
    transition: 0.3s;
   
  
   
}
nav ul li a:hover{
    /* color: #ff4321; */
    text-decoration:underline;
    text-decoration-color: #ff4321;
   
}
.info{
    margin-left: 12%;
    margin-top: 15%;
}
.info h1{
    font-size: 60px;
    color: #212121;
    margin-bottom: 20px;
   
}
.info span{
    color: #ff4321;
}
.info p{
    color: #606163;
    line-height: 22px;
   
}
.info a{
    background: #212121;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border: 1px solid black;
    border-radius: 5px;
}
.info h2{
    margin: 20px 0px;
    font-size: 30px;
    
}
.info h2 span{
    overflow: hidden;
}

.info a:hover{
    color: #212121 ;
    background-color: #edf2fc;
}
.pic{
    width: 20%;
    height: 50%;
    position: absolute;
    bottom: 20%;
    right: 20%;
}
.pic img{
    height: 100%;
    border: 3px solid transparent;
    border-radius: 50%;

}
.pic img:hover{
    box-shadow: 0px 0px 20px rgba(255, 81, 0, 0.693);
   
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top:7% ;
}
.about-heading{
    font-size: 30px;
    font-family: sans-serif;
}
.about-content{
    display: flex;
    justify-content:end;
    align-items: center;
    width: 90%;
    font-size: 17px;
    font-family: sans-serif;
}
.about-content p{
    position: relative;
    line-height: 2;
    flex-wrap: wrap;
    right: 40px;
}
.about-box{
    width: 400px;
    position: relative;

}
.about-box  img{
    position: relative;
   
    right: 30%;
    width: 90%;
    border-radius: 50%;
    flex-wrap: wrap;
   
   

}

.skill{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15%;

}
.skill-heading{
    font-size: 30px;
    font-family: sans-serif;
}
.container{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    flex-wrap: wrap;
   
}
.skill-box{
    width: 300px;
    height: 300px;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.2);
    background-image: linear-gradient(#fff 50%,#ff4321 50%);
    background-size: 100% 200%;
    background-position: 0% 5%;
    transition: background-position 0.5s,color 0.5s;
    margin: 30px;
    overflow: hidden;
    position: relative;
    flex-wrap: wrap;
}

.skill-box p{
    background:none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin: 20px;
    margin-top: 20%;
    font-family: sans-serif;
    border-radius: 5px;
    font-weight: 500;
}
  
.hover-text {
    position: absolute;

    
    bottom: -100%;
  
    left: 0;
    
    width: 100%;
    
    text-align: center;
    
    padding: 10px 0;
    
    font-family: sans-serif;
    
    background: rgba(255, 67, 33, 0.9);
     
    transition: bottom 0.5s;
    
    font-size: 17px;
}
 
.skill-box:hover .hover-text {
    bottom: 50%; 
} 

.skill-box:hover{
    background-position: 0% 100%;
    color: #fff;
}

/* .project{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15%;
} */
.project-heading{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15%;
    font-size: 30px;
    font-family: sans-serif;
}
table{
    border-collapse: collapse;
    width: 90%;
   margin: auto;
   margin-top: 3%;
   font-family: sans-serif;
   border: 1px solid #b8b1b1;
   font-size: 17px;
   box-shadow: 0 10px 10px rgba(0,0,0,0.2);
    border-radius: 10px;
   margin-bottom: 20%;

}
table,th{
    padding: 15px;
    background-color:#b8b1b1;
}
table,td{
    padding: 15px;
    background-color: #fff;
}
table button{
    width: 100px;
    height: 35px;
    border: 0.5px solid black;
    border-radius: 3px;
    font-size: 14px;
    font-family: sans-serif;
    transition: background 1s;
    background-color: #fff;
}
table button:hover{
    background-color:#ff4321;
    color: #fff;
}

.contact {
    width: 100%;
    text-align: center;
    padding: 80px 0;
    background-color: #444;
    color: #fff;
  }

  
.contact h2 {
    font-size: 2rem;
    color: #fff;
    background-color: #444;
  }
  
.social-links a {
    display: inline-block;
    margin: 0 10px;
    font-size: 30px;
    border-radius: 50%;
    
}

  
  
  
  /* Footer */
.footer {
    text-align: center;
    padding: 20px 0;
    background-color: #444;
    color: #fff;
  }
  
.footer p {
    font-size: 0.9rem;
    color: #fff;
    background-color: #444;
  }

  /* Your existing CSS rules */

@media screen and (max-width: 768px){
    /* Adjust the navigation bar for smaller screens */
    
    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: #edf2fc;
        position: absolute;
        top: 75px; /* Adjust as needed to avoid overlapping content */
        left: 0;
        width: 100%;
        text-align: center;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
        z-index: 1;
    }

    nav ul.active {
        display: flex;
    }

    nav ul li {
        margin: 10px 0;
    }

   
    .info h1 {
        margin-top: 70%;
        font-size: 20px;
    }
    .info a{
        flex-wrap: wrap;
        width: 100px;
        height: 10px;
    }

    .info h2 {
        font-size: 20px;
    }

    .info p {
        font-size: 16px;
    }

    .pic {
        width: 35%;
        height: auto;
        position: absolute;
        bottom: 40%;
        right: 36%;
    }

    .pic img {
        max-width: 100%;
        height: auto;
    }
    .about-box img{
       left: 20px;
        display: none;

    }
    .about{
        font-size: 10px;
        margin-top: 50px;
    }
    .about p{
        font-size:10px ;
        right: 20px;
        
    }

    /* Additional styles for other sections as needed */
}

@media only screen and (max-device-width: 480px){
    /* Adjust the navigation bar for smaller screens */
    body{
        width: 100%;
    }
    
    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: #edf2fc;
        position: absolute;
        top: 75px; 
        left: 0;
        width: 100%;
        text-align: center;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
        z-index: 1;
    }

    nav ul.active {
        display: flex;
    }

    nav ul li {
        margin: 10px 0;
    }

    
    .info h1 {
        margin-top: 70%;
        font-size: 20px;
    }
    .info a{
        flex-wrap: wrap;
        width: 100px;
        height: 10px;
    }

    .info h2 {
        font-size: 20px;
    }

    .info p {
        font-size: 16px;
    }

    .pic {
        width: 35%;
        height: auto;
        position: absolute;
        bottom: 60%;
        right: 33%;
    }

    .pic img {
        max-width: 100%;
        height: auto;
    }
    .about-section{
        margin-top: -100px;

    }
    .about-box img{
        right: 20px;
        display: none;
        margin-top: 0%;

    }
    .about{
        font-size: 10px;
        margin-top: -10px;
    }
    .about p{
        font-size:10px ;
        right: 20px;
        
    }
    .table table{
      
        flex-wrap: wrap;
    }

   
}
